<tr>
	<td><%= user_skill.id %></td>
	<td><%= user_skill.skill.name%>
	<td>
		<% user_skill.user_skill_details.each do |user_skill_detail|%>
		<%=user_skill_detail.skill_detail.name << "-----"%>
		<% end%>
	</td>
</tr>