<footer class="footer">
  <small>
    <a href="http://framgia.com/vn/company/vn/index.html/">Project Test</a>
    by Framgia Training Team
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   "#" %></li>
      <li><a href="http://framgia.com/vn/company/vn/index.html/">News</a></li>
    </ul>
  </nav>
</footer>
